body {
  background: linear-gradient(to bottom right, #e0f7fa, #ffffff);
}

.title {
  font-size: 20pt;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  border-color: #fc8403;
  border-style: solid;
}

.subheader {
  font-size: 16pt;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  background: #f7f0e9
}

.medium {
  font-size: 14pt;
  font-family: Arial, Helvetica, sans-serif;
}

.small {
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
}

.very-small {
  font-size: 11pt;
  font-family: Arial, Helvetica, sans-serif;
}

.variable {
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.prediction {
  font-size: 13pt;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.accordion-head {
  font-size: 14pt;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.slidecontainer {
  width: 50%;
}

/* The slider itself, (i.e., the bar) */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 40%;
  height: 15px;
  border-radius: 5px;
  background: #dfdfdf;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #2eb0db;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #2eb0db;
  cursor: pointer;
}

#music-photo {
  display: block;
  margin: auto;
  width: 300px;
  height: auto;
}

/* Accordion body colour when open */
.accordion-body {
  background-color: #ffffff;
  color: black;
}

/* Accordion colour when open */
.accordion-button:not(.collapsed) {
  background-color: #eff3fc;
  color: black;
}

/* Accordion colour when closed */
.accordion-button.collapsed {
  background-color: #e0f7fa;
  color: #000;
}

.accordion-button {
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
}

/* Centering the "predict" button */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Center all form inputs and selects inside slidecontainer */
.slidecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input {
  display: block;
  margin: 10px auto;
  text-align: center;
}